main {
  margin: auto 200px;
}
.header-section {
  background-image: url("../banner/banner1.png");
  height: 800px;
  background-size: cover;
  position: relative;
}

.banner-containt {
  position: absolute;
  top: 220px;
  right: 150px;
  max-width: 525px;
  text-align: right;
}
.banner-containt h1 {
  font-size: 65px;
  font-weight: 700;
}
.btn {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #f15b22;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
}

/* previous-year */

.previous-year-section {
  margin: 140px 0px;
}

.previous-year-container {
  display: flex;
  align-items: center;
  gap: 130px;
  justify-content: center;
}
.previous-year-section h1 {
  font-size: 40px;
  max-width: 288px;
  font-weight: 700;
}
.previous-year-section p {
  max-width: 400px;
}

/* my learn item */
.section-title {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}
.learn-itmes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/* watch benner section */
.watch-benner-section {
  background-image: url("../gradient2.png"), url("../watch.png");
  background-size: cover, cover;
  padding: 60px;
  margin: 150px 0px;
}
.watch-benner-section .btn {
  background-color: #fff;
  color: #f15b22;
}
.watch-benner-section h1 {
  font-size: 40px;
  font-weight: 700;
  max-width: 460px;
  color: #fff;
}

/* footer section */
footer {
  background-color: #151414;
  width: 100%;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 330px;
  padding: 130px 200px;
}

.footer-future h1 {
  font-size: 45px;
  font-weight: 700;
}
.footer-future p {
  max-width: 480px;
  margin: 16px 0px;
}

.socal-icon {
  margin-top: 20px;
}

.footer-subcribe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-subcribe h3 {
  font-size: 25px;
  font-weight: 600;
}
.footer-subcribe .btn {
  background-color: #fff;
  color: #f15b22;
}
.footer-subcribe input {
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
