@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    
}
/* header section or nav bar */
.header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"),url("../images/developer.png");
    background-repeat: no-repeat;
    background-position:bottom right , 30px;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 220px 0px 220px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 50px;
}
nav ul li a{
    color:#474747;
    font-size: 20px;
}
.btn{
    font-size: 20px;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 30px;
    font-weight: 700;
    color:#FFF;
    border:none;

}
.logo{
    color:#181818;
    font-size: 45px;
    font-weight: 800;
}
.logo span{
    color:#FD6E0A;
}
.fa-solid{
    margin-right: 5px;
}

.header-details-continer{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 0px 220px;
}

.developer-image img{
    margin-right: 20px;
    margin-bottom: -5px;
    
}
.details-container > p{
    margin-bottom: 20px;
}

.sub-title{
    font-size: 45px;
    font-weight: bold;
}
.title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.details-container p{
    max-width: 500px;
}