@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    
}
/* header section or nav bar */
.header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"),url("../images/developer.png");
    background-repeat: no-repeat;
    background-position:bottom right , 30px;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 220px 0px 220px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 50px;
}
nav ul li a{
    color:#474747;
    font-size: 20px;
}
.btn{
    font-size: 20px;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 30px;
    font-weight: 700;
    color:#FFF;
    border:none;

}
.logo{
    color:#181818;
    font-size: 45px;
    font-weight: 800;
}
.logo span{
    color:#FD6E0A;
}
.fa-solid{
    margin-right: 5px;
}

.header-details-continer{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 0px 220px;
}

.developer-image img{
    margin-right: 20px;
    margin-bottom: -5px;
    
}
.details-container > p{
    margin-bottom: 20px;
}

.sub-title{
    font-size: 45px;
    font-weight: bold;
}
.title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.details-container p{
    max-width: 500px;
}




/* about me section */

.about-me-section{
    margin:130px 220px;
    background-color: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
}

.about-me-section > p{
    margin: 30px 0px;
}

.about-information-conatiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

.informatin p{
    font-weight: 400;
}
.informatin h5{
    font-weight: 700;
    font-size: 16px;
}

.what-i-do-section{
    text-align: center;
    margin: 0px 250px;
    margin-bottom: 50px;
}
.what-i-do-section p{
 text-align: center;

}


/* skills section */
.skills-container{
    margin: 0px 200px 130px 200px;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:25px;
}
.skill{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
    padding: 30px;
    border-radius: 5px;
}
.skills h4{
    margin:30px 0px 20px 0px;
}




/* summary section */
.summary-section-container{
    margin:200px;
   
}
.summary-section-container > h1{
    margin-bottom: 100px;
    text-align: center;
}
.summary-section-container > .btn{
    display: block;
    margin: 10px auto;
}
.summary-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:70px;
}
.summary-section .summary{
    margin-bottom: 60px;
}
.summary h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.summary p{
    margin: 10px 0;
}
hr{
    display: block;
}




/* contact-section */
.footer-continer{
    padding: 200px;
    background-color: #FFF8F3;
}

.contact-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:100px;
}
.message-continer{
    flex-basis: 50%;
}
.message-continer h1{
    margin-bottom: 20px;
}
.message-continer form input,textarea{
    display: block;
    margin-bottom: 20px;
    padding:20px;
    width: 100%;
    resize: none;

}

.links p{
    margin: 20px 0px;
}